{% extends "AppBlog/padre.html" %}
{% load static %}

{% block subtitulo %} 
<br/><br/>
<h1>Sobre Mi</h1>
{% endblock %}

{% block contenidoQueCambia %}
    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <div class="card mb-4">
        <a href="#!"><img class="card-img-top" src="https://www.kindpng.com/picc/m/475-4753532_man-with-thumbs-up-png-png-download-thumbs.png" alt="..." /></a>
        <div class="card-body">
 
            <h2 class="card-title h4">Sobre Mi</h2>
            <p class="card-text">Hola, soy Alejo Quaranta, un principiante que decidio incursionarse en el mundo de la programacion en este año.
                <p>Cree esta web utilizando los conocimientos adquiridos en el curso de programación en Python, junto con algunos videos de cursos que vi en youtube y algo de ayuda de amigos programadores.</p>
                <p>Espero que te agrade y pruebes de hacer alguna de las recetas ;)</p>
                <p>Ah, ya se debio haber notado pero juego al League of Legends.</p>
            </p>
          
        </div>
    </div>

{% endblock %}    




